* {
  margin: 0;
  padding: 0;
}
/* header {
  width: 1920px;
  height: 600px;
} */
/* section1 */
.container {
  max-width: 1320px;
  border-radius: 16px;
  width: 82.5%;
  margin: 50px auto 0;
  border: 2px solid red;
}
.section1 {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../resources/Banner\ Image.png');
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.container .benner-title {
  text-align: center;
  color: #fff;
  font-style: normal;
}
.benner-title-1 {
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  width: 250px;
}
.benner-title-2 {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  width: 632px;
  margin-top: 10px;
}

/* section2 */
.section2 {
  width: 803px;
  height: 806px;
  margin: 120px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2-title1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section2-des {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 48px;
}

.section2-title2 {
  color: #070211;

  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section2-img {
  width: 802.9px;
  height: 500px;
  margin-top: 48px;
}

/* section3 */
.section3 {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../resources/Vectorrr.png');
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
.section3-title1 {
  color: #fff;
  width: 642px;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-left: 116px;
}
.section3-des {
  color: rgba(255, 255, 255, 0.8);
  width: 697px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 116px;
  margin-top: 24px;
}
.section3-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 148px;
  background-color: transparent;
  border: none;
  margin-top: 48px;
}
.section3-img {
  width: 300px;
  height: 445px;
  margin: 95px 63px 43px 53px;
}

/* section4  */
.section4 {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 482px;
}
.section4-heading {
  margin-bottom: 48px;
}
.section4-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.different-color {
  color: #f00;
}
.section4-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f00;
  margin: 10px 50% 10px;
  width: 167px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
}
/* section5  */
.section5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 463px;
}
.box1-title1 {
  color: #f00;

  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  width: 207px;
}
.box1-title2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  padding-top: 16px;
}
.box1-des {
  color: rgba(7, 2, 17, 0.6);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
  margin-top: 22px;
}
.box2 {
  width: 350px;
  height: 350px;
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 30px;
}
/* .box3-imgg{
  
margin-left:130px;
 width: 463px;
height: 463px; 
border-radius: 450px;
border: 12px solid #F00;
padding:30px;
} */

.box3-title1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 120px;
}
.box3-des {
  color: rgba(7, 2, 17, 0.6);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 276px;
  padding-top: 16px;
}

.box3-icon {
  width: 140px;
  height: 140px;
  margin-top: 43px;
}
/* main section  */
.msection1 {
  height: 986;
}
.msec1-box1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.msec1-title1 {
  color: #070211;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.msec1-title2 {
  color: #f00;

  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.msec1-des {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 1068px;
  height: 96px;
}
.msec1-box2 {
  background-image: url(/resources/Rectangle\ 1.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin-left: 882px;
  width: 429px;
  height: 433px;
  border-radius: 16px 16px 0px 0px;
  background-position: fixed;
}
.box2-img1 {
  width: 429px;
  height: 433px;
  border-radius: 16px 16px 0px 0px;
}
.box2-img2 {
  margin: 30px auto;
  width: 206.841px;
  height: 206.841px;
}

.msec1-box3 {
  background-image: url('/resources/Rectangle\ 2.png');
  width: 1320px;
  height: 229px;
}
.box3-img1 {
  width: 796.463px;
  height: 662.07px;
}

.msection2 {
  height: 1163px;
}
.msec2-img {
  width: 424px;
  height: 450px;
  border-radius: 16px;
}
.samebox {
  display: flex;
  gap: 24px;
}

.msection3 {
  height: 616px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msec3-img {
  width: 150px;
  height: 150px;
}
.input-btn {
  display: flex;
  gap: 0;
  border: none;
}

.input {
  width: 448px;
  height: 72px;
  border: 0;
  border-radius: 50px 0 0 50px;
  background: #fff;
  color: rgba(7, 2, 17, 0.3);

  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe {
  color: #fff;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  height: 72px;
}

/* footer style  */

footer {
  background: #070211;
  max-width: 1600px;
  height: 609px;
  margin: 50px auto 0;
  /* /* width: 100%;
  height: 100%; */
  /* display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;   */
}

p {
  color: #fff;
}
.foot-box1 {
  display: flex;
  justify-content: space-between;
  margin-top:40px;
}

.des {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.foot-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.foot-box3 {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-around;
  /* margin-left: 300px;
  margin-right: 300px; */
}
.footsec {
  max-width: 1320px;
  margin: 50px auto 0;
   
}
